:root {
  --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
}

.main-container {
  overflow: hidden;
}

.main-container,
.main-container * {
  box-sizing: border-box;
}

input,
select,
textarea,
button {
  outline: 0;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  position: relative;
  width: 100%;
  margin: 0 auto;
  background: #ffffff;
}
.depth-frame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 100%;
  height: 100vh; /* Full viewport height */
  background: #111921;
  overflow: hidden;
}
.depth-frame-1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 100%;
  height: 100vh; /* Full viewport height */
  z-index: 1;
}
.depth-frame-2 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 4px;
  position: relative;
  width: 100%;
  height: 100vh; /* Full viewport height */
  padding: 20px 24px 20px 24px;
  z-index: 2;
}
.depth-frame-3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 307px;
  height: 760px;
  z-index: 3;
}
.depth-frame-4 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 307px;
  height: 760px;
  padding: 16px 16px 16px 16px;
  background: #111921;
  z-index: 4;
}
.depth-frame-5 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 16px;
  position: relative;
  width: 275px;
  height: 320px;
  z-index: 5;
}
.depth-frame-6 {
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 12px;
  position: relative;
  width: 275px;
  height: 24px;
  z-index: 6;
}
.depth-frame-7 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 44.125px;
  height: 24px;
  z-index: 7;
}
.depth-frame-8 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 44.125px;
  height: 24px;
  z-index: 8;
}
.depth-frame-9 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  min-width: 0;
  z-index: 9;
}
.trade {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 24px;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  z-index: 10;
}
.depth-frame-a {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 8px;
  position: relative;
  width: 275px;
  height: 280px;
  z-index: 11;
}
.depth-frame-b {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 12px;
  position: relative;
  width: 275px;
  height: 40px;
  padding: 8px 12px 8px 12px;
  z-index: 12;
}
.depth-frame-c {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 24px;
  height: 24px;
  z-index: 13;
}
.depth-frame-d {
  flex-shrink: 0;
  position: relative;
  width: 24px;
  height: 24px;
  z-index: 14;
  overflow: hidden;
}
.vector {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 0;
  left: 0;
  background: url(./assets/images/1bf52e03-4096-4022-a7cf-2cc2d9972944.png)
    no-repeat center;
  background-size: cover;
  z-index: 15;
}
.depth-frame-e {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 37.203px;
  height: 21px;
  z-index: 16;
}
.depth-frame-f {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  min-width: 0;
  z-index: 17;
}
.swap {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 21px;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  text-align: left;
  white-space: nowrap;
  z-index: 18;
}
.depth-frame-10 {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 12px;
  position: relative;
  width: 275px;
  height: 40px;
  padding: 8px 12px 8px 12px;
  z-index: 19;
}
.depth-frame-11 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 24px;
  height: 24px;
  z-index: 20;
}
.depth-frame-12 {
  flex-shrink: 0;
  position: relative;
  width: 24px;
  height: 24px;
  z-index: 21;
  overflow: hidden;
}
.vector-13 {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 0;
  left: 0;
  background: url(./assets/images/0fd1c8c3-4aaa-493d-9616-749f99cb9932.png)
    no-repeat center;
  background-size: cover;
  z-index: 22;
}
.depth-frame-14 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 32.5px;
  height: 21px;
  z-index: 23;
}
.depth-frame-15 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  min-width: 0;
  z-index: 24;
}
.limit {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 21px;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  text-align: left;
  white-space: nowrap;
  z-index: 25;
}
.depth-frame-16 {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 12px;
  position: relative;
  width: 275px;
  height: 40px;
  padding: 8px 12px 8px 12px;
  z-index: 26;
}
.depth-frame-17 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 24px;
  height: 24px;
  z-index: 27;
}
.depth-frame-18 {
  flex-shrink: 0;
  position: relative;
  width: 24px;
  height: 24px;
  z-index: 28;
  overflow: hidden;
}
.vector-19 {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 0;
  left: 0;
  background: url(./assets/images/83aeae7a-fc14-42b8-becd-56134b1cf847.png)
    no-repeat center;
  background-size: cover;
  z-index: 29;
}
.depth-frame-1a {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 34.391px;
  height: 21px;
  z-index: 30;
}
.depth-frame-1b {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  min-width: 0;
  z-index: 31;
}
.send {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 21px;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  text-align: left;
  white-space: nowrap;
  z-index: 32;
}
.depth-frame-1c {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 12px;
  position: relative;
  width: 275px;
  height: 40px;
  padding: 8px 12px 8px 12px;
  z-index: 33;
}
.depth-frame-1d {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 24px;
  height: 24px;
  z-index: 34;
}
.depth-frame-1e {
  flex-shrink: 0;
  position: relative;
  width: 24px;
  height: 24px;
  z-index: 35;
  overflow: hidden;
}
.vector-1f {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 0;
  left: 0;
  background: url(./assets/images/58c39b2c-76d1-49b0-8201-06943bd3157f.png)
    no-repeat center;
  background-size: cover;
  z-index: 36;
}
.depth-frame-20 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 25.438px;
  height: 21px;
  z-index: 37;
}
.depth-frame-21 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  min-width: 0;
  z-index: 38;
}
.buy {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 21px;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  text-align: left;
  white-space: nowrap;
  z-index: 39;
}
.depth-frame-22 {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 12px;
  position: relative;
  width: 275px;
  height: 40px;
  padding: 8px 12px 8px 12px;
  background: #233547;
  z-index: 40;
  border-radius: 20px;
}
.depth-frame-23 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 24px;
  height: 24px;
  z-index: 41;
}
.depth-frame-24 {
  flex-shrink: 0;
  position: relative;
  width: 24px;
  height: 24px;
  z-index: 42;
  overflow: hidden;
}
.vector-25 {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 0;
  left: 0;
  background: url(./assets/images/06457622-7311-473b-9f37-6f3a43a12338.png)
    no-repeat center;
  background-size: cover;
  z-index: 43;
}
.depth-frame-26 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 24.25px;
  height: 21px;
  z-index: 44;
}
.depth-frame-27 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  min-width: 0;
  z-index: 45;
}
.sell {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 21px;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  text-align: left;
  white-space: nowrap;
  z-index: 46;
}
.depth-frame-28 {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 12px;
  position: relative;
  width: 275px;
  height: 40px;
  padding: 8px 12px 8px 12px;
  z-index: 47;
}
.depth-frame-29 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 24px;
  height: 24px;
  z-index: 48;
}
.depth-frame-2a {
  flex-shrink: 0;
  position: relative;
  width: 24px;
  height: 24px;
  z-index: 49;
  overflow: hidden;
}
.vector-2b {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 0;
  left: 0;
  background: url(./assets/images/9b8b7c32-efe0-4242-a774-cee237344cc3.png)
    no-repeat center;
  background-size: cover;
  z-index: 50;
}
.depth-frame-2c {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 33.281px;
  height: 21px;
  z-index: 51;
}
.depth-frame-2d {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  min-width: 0;
  z-index: 52;
}
.lend {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 21px;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  text-align: left;
  white-space: nowrap;
  z-index: 53;
}
.depth-frame-2e {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 16px;
  position: relative;
  width: 275px;
  height: 184px;
  z-index: 54;
}
.depth-frame-2f {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 275px;
  height: 40px;
  padding: 0 16px 0 16px;
  background: #197fe5;
  z-index: 55;
  overflow: hidden;
  border-radius: 20px;
}
.depth-frame-30 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 108.078px;
  height: 21px;
  background: #197fe5;
  z-index: 56;
  overflow: hidden;
}
.depth-frame-31 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  min-width: 0;
  z-index: 57;
}
.connect-wallet {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 21px;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: 0.21px;
  z-index: 58;
}
.depth-frame-32 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 4px;
  position: relative;
  width: 275px;
  height: 128px;
  z-index: 59;
}
.depth-frame-33 {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 12px;
  position: relative;
  width: 275px;
  height: 40px;
  padding: 8px 12px 8px 12px;
  z-index: 60;
}
.depth-frame-34 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 24px;
  height: 24px;
  z-index: 61;
}
.depth-frame-35 {
  flex-shrink: 0;
  position: relative;
  width: 24px;
  height: 24px;
  z-index: 62;
  overflow: hidden;
}
.vector-36 {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 0;
  left: 0;
  background: url(./assets/images/1cccdf18-eed7-417a-bd05-bc473da38f91.png)
    no-repeat center;
  background-size: cover;
  z-index: 63;
}
.depth-frame-37 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 58.688px;
  height: 24px;
  z-index: 64;
}
.depth-frame-38 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  min-width: 0;
  z-index: 65;
}
.migrate {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 24px;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  z-index: 66;
}
.depth-frame-39 {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 12px;
  position: relative;
  width: 275px;
  height: 40px;
  padding: 8px 12px 8px 12px;
  z-index: 67;
}
.depth-frame-3a {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 24px;
  height: 24px;
  z-index: 68;
}
.depth-frame-3b {
  flex-shrink: 0;
  position: relative;
  width: 24px;
  height: 24px;
  z-index: 69;
  overflow: hidden;
}
.vector-3c {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 0;
  left: 0;
  background: url(./assets/images/96c91245-8b3a-43a3-a21e-d8c37ea03184.png)
    no-repeat center;
  background-size: cover;
  z-index: 70;
}
.depth-frame-3d {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 89.047px;
  height: 24px;
  z-index: 71;
}
.depth-frame-3e {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  min-width: 0;
  z-index: 72;
}
.create-pool {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 24px;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  z-index: 73;
}
.depth-frame-3f {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 12px;
  position: relative;
  width: 275px;
  height: 40px;
  padding: 8px 12px 8px 12px;
  z-index: 74;
}
.depth-frame-40 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 24px;
  height: 24px;
  z-index: 75;
}
.depth-frame-41 {
  flex-shrink: 0;
  position: relative;
  width: 24px;
  height: 24px;
  z-index: 76;
  overflow: hidden;
}
.vector-42 {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 0;
  left: 0;
  background: url(./assets/images/66e6037c-305d-4b0d-b9f2-a688c316fc99.png)
    no-repeat center;
  background-size: cover;
  z-index: 77;
}
.depth-frame-43 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 100.75px;
  height: 24px;
  z-index: 78;
}
.depth-frame-44 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  min-width: 0;
  z-index: 79;
}
.add-liquidity {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 24px;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  z-index: 80;
}
.depth-frame-45 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 921px;
  height: 760px;
  z-index: 81;
}
.depth-frame-46 {
  flex-shrink: 0;
  position: relative;
  width: 921px;
  height: 72px;
  z-index: 82;
}
.depth-frame-47 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: 12px;
  position: relative;
  width: 288px;
  height: 40px;
  margin: 16px 0 0 16px;
  z-index: 83;
}
.depth-frame-48 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 288px;
  height: 40px;
  z-index: 84;
}
.depth-frame-49 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  min-width: 0;
  z-index: 85;
}
.swap-4a {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 40px;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: -0.8px;
  z-index: 86;
}
.depth-frame-4b {
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 921px;
  height: 46.5px;
  padding: 16px 16px 8px 16px;
  z-index: 87;
}
.depth-frame-4c {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 43.688px;
  height: 22.5px;
  z-index: 88;
}
.depth-frame-4d {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  min-width: 0;
  z-index: 89;
}
.from {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 22.5px;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 18px;
  font-weight: 700;
  line-height: 22.5px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: -0.27px;
  z-index: 90;
}
.depth-frame-4e {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 921px;
  height: 80px;
  padding: 12px 16px 12px 16px;
  z-index: 91;
}
.depth-frame-4f {
  display: flex;
  align-items: flex-end;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 16px;
  position: relative;
  width: 480px;
  height: 56px;
  z-index: 92;
}
.depth-frame-50 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 480px;
  height: 56px;
  z-index: 93;
}
.depth-frame-51 {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 480px;
  height: 56px;
  z-index: 94;
}
.depth-frame-52 {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 480px;
  height: 56px;
  padding: 16px 16px 16px 16px;
  background: #233547;
  z-index: 95;
  overflow: hidden;
  border-radius: 12px;
}
.depth-frame-53 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 107.797px;
  height: 24px;
  z-index: 96;
  overflow: hidden;
}
.depth-frame-54 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  min-width: 0;
  z-index: 97;
}
.select-token {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 24px;
  color: #93adc6;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  z-index: 98;
}
.depth-frame-55 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 24px;
  height: 24px;
  z-index: 99;
}
.depth-frame-56 {
  flex-shrink: 0;
  position: relative;
  width: 24px;
  height: 24px;
  z-index: 100;
  overflow: hidden;
}
.vector-57 {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 0;
  left: 0;
  background: url(./assets/images/1de69a49-9c0f-4c47-bcd3-d2f093d63bcc.png)
    no-repeat center;
  background-size: cover;
  z-index: 101;
}
.depth-frame-58 {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 921px;
  height: 80px;
  padding: 12px 16px 12px 16px;
  z-index: 102;
}
.depth-frame-59 {
  display: flex;
  align-items: flex-end;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 16px;
  position: relative;
  width: 480px;
  height: 56px;
  z-index: 103;
}
.depth-frame-5a {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 480px;
  height: 56px;
  z-index: 104;
}
.depth-frame-5b {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 480px;
  height: 56px;
  z-index: 105;
}
.depth-frame-5c {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 480px;
  height: 56px;
  padding: 16px 16px 16px 16px;
  background: #233547;
  z-index: 106;
  overflow: hidden;
  border-radius: 12px;
}
.depth-frame-5d {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 23.594px;
  height: 24px;
  z-index: 107;
  overflow: hidden;
}
.depth-frame-5e {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  min-width: 0;
  z-index: 108;
}
.dot-zero {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 24px;
  color: #93adc6;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  z-index: 109;
}
.depth-frame-5f {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 24px;
  height: 24px;
  z-index: 110;
}
.depth-frame-60 {
  flex-shrink: 0;
  position: relative;
  width: 24px;
  height: 24px;
  z-index: 111;
  overflow: hidden;
}
.vector-61 {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 0;
  left: 0;
  background: url(./assets/images/44db844c-8976-49a5-a305-9c2bae6419a3.png)
    no-repeat center;
  background-size: cover;
  z-index: 112;
}
.depth-frame-62 {
  flex-shrink: 0;
  position: relative;
  width: 921px;
  height: 56px;
  background: #111921;
  z-index: 113;
}
.depth-frame-63 {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 16px;
  position: relative;
  width: 889px;
  height: 40px;
  margin: 8px 0 0 16px;
  z-index: 114;
}
.depth-frame-64 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 40px;
  height: 40px;
  background: #233547;
  z-index: 115;
  border-radius: 8px;
}
.depth-frame-65 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 24px;
  height: 24px;
  z-index: 116;
}
.depth-frame-66 {
  flex-shrink: 0;
  position: relative;
  width: 24px;
  height: 24px;
  z-index: 117;
  overflow: hidden;
}
.vector-67 {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 0;
  left: 0;
  background: url(./assets/images/92746b31-f30e-4e59-8069-55fb3d64d79f.png)
    no-repeat center;
  background-size: cover;
  z-index: 118;
}
.depth-frame-68 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 833px;
  height: 24px;
  z-index: 119;
  overflow: hidden;
}
.depth-frame-69 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  min-width: 0;
  z-index: 120;
}
.balance-eth {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 24px;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  z-index: 121;
}
.depth-frame-6a {
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 921px;
  height: 46.5px;
  padding: 16px 16px 8px 16px;
  z-index: 122;
}
.depth-frame-6b {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 21.109px;
  height: 22.5px;
  z-index: 123;
}
.depth-frame-6c {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  min-width: 0;
  z-index: 124;
}
.to {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 22.5px;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 18px;
  font-weight: 700;
  line-height: 22.5px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: -0.27px;
  z-index: 125;
}
.depth-frame-6d {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 921px;
  height: 80px;
  padding: 12px 16px 12px 16px;
  z-index: 126;
}
.depth-frame-6e {
  display: flex;
  align-items: flex-end;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 16px;
  position: relative;
  width: 480px;
  height: 56px;
  z-index: 127;
}
.depth-frame-6f {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 480px;
  height: 56px;
  z-index: 128;
}
.depth-frame-70 {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 480px;
  height: 56px;
  z-index: 129;
}
.depth-frame-71 {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 480px;
  height: 56px;
  padding: 16px 16px 16px 16px;
  background: #233547;
  z-index: 130;
  overflow: hidden;
  border-radius: 12px;
}
.depth-frame-72 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 107.797px;
  height: 24px;
  z-index: 131;
  overflow: hidden;
}
.depth-frame-73 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  min-width: 0;
  z-index: 132;
}
.select-token-74 {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 24px;
  color: #93adc6;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  z-index: 133;
}
.depth-frame-75 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 24px;
  height: 24px;
  z-index: 134;
}
.depth-frame-76 {
  flex-shrink: 0;
  position: relative;
  width: 24px;
  height: 24px;
  z-index: 135;
  overflow: hidden;
}
.vector-77 {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 0;
  left: 0;
  background: url(./assets/images/e0daa60d-083f-49d1-81f2-f23403fa31c3.png)
    no-repeat center;
  background-size: cover;
  z-index: 136;
}
.depth-frame-78 {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 921px;
  height: 80px;
  padding: 12px 16px 12px 16px;
  z-index: 137;
}
.depth-frame-79 {
  display: flex;
  align-items: flex-end;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 16px;
  position: relative;
  width: 480px;
  height: 56px;
  z-index: 138;
}
.depth-frame-7a {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 480px;
  height: 56px;
  z-index: 139;
}
.depth-frame-7b {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 480px;
  height: 56px;
  z-index: 140;
}
.depth-frame-7c {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 480px;
  height: 56px;
  padding: 16px 16px 16px 16px;
  background: #233547;
  z-index: 141;
  overflow: hidden;
  border-radius: 12px;
}
.depth-frame-7d {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 23.594px;
  height: 24px;
  z-index: 142;
  overflow: hidden;
}
.depth-frame-7e {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  min-width: 0;
  z-index: 143;
}
.dot-zero-7f {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 24px;
  color: #93adc6;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  z-index: 144;
}
.depth-frame-80 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 24px;
  height: 24px;
  z-index: 145;
}
.depth-frame-81 {
  flex-shrink: 0;
  position: relative;
  width: 24px;
  height: 24px;
  z-index: 146;
  overflow: hidden;
}
.vector-82 {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 0;
  left: 0;
  background: url(./assets/images/f03a0f37-ae21-4683-863c-9a3232207313.png)
    no-repeat center;
  background-size: cover;
  z-index: 147;
}
.depth-frame-83 {
  flex-shrink: 0;
  position: relative;
  width: 921px;
  height: 56px;
  background: #111921;
  z-index: 148;
}
.depth-frame-84 {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 16px;
  position: relative;
  width: 889px;
  height: 40px;
  margin: 8px 0 0 16px;
  z-index: 149;
}
.depth-frame-85 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 40px;
  height: 40px;
  background: #233547;
  z-index: 150;
  border-radius: 8px;
}
.depth-frame-86 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 24px;
  height: 24px;
  z-index: 151;
}
.depth-frame-87 {
  flex-shrink: 0;
  position: relative;
  width: 24px;
  height: 24px;
  z-index: 152;
  overflow: hidden;
}
.vector-88 {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 0;
  left: 0;
  background: url(./assets/images/c21e6f0e-3929-4ec2-a03a-df74b3710133.png)
    no-repeat center;
  background-size: cover;
  z-index: 153;
}
.depth-frame-89 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 833px;
  height: 24px;
  z-index: 154;
  overflow: hidden;
}
.depth-frame-8a {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  min-width: 0;
  z-index: 155;
}
.balance-eth-8b {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 24px;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  z-index: 156;
}
.depth-frame-8c {
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 921px;
  height: 64px;
  padding: 12px 16px 12px 16px;
  z-index: 157;
}
.depth-frame-8d {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 480px;
  height: 40px;
  padding: 0 16px 0 16px;
  background: #197fe5;
  z-index: 158;
  overflow: hidden;
  border-radius: 20px;
}
.depth-frame-8e {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 38.938px;
  height: 21px;
  background: #197fe5;
  z-index: 159;
  overflow: hidden;
}
.depth-frame-8f {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  min-width: 0;
  z-index: 160;
}
.swap-90 {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 21px;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: 0.21px;
  z-index: 161;
}

.swap-button {
  position: relative;
  height: 40px;
  width: fit-content;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  text-align: center; /* Center the text */
  white-space: nowrap;
  letter-spacing: 0.21px;
  background-color: #197fe5; /* Background color */
  border: none; /* Remove default border */
  padding: 10px 20px; /* Add padding */
  border-radius: 5px; /* Border radius */
  cursor: pointer; /* Pointer cursor */
}

.bttn:hover {
  background-color: #165bb3; /* Background color on hover */
}


